%section.columns.twelve
	%header.row
		- title "Edit <%= singular_name.titleize %>"

	= render_form

	- if actions? :show, :index
		%div.admin-links.columns.four
			- if action? :show
				= link_to "Show", <%= singular_name %>_path(@<%= singular_name %>)
				|
			- if action? :index
				= link_to "View All", <%= plural_name %>_path
	
		
