%section.columns.twelve
	%header.row
		- title "<%= singular_name.titleize %>"
	
	- for attribute in attributes
		%p
			%strong <%= attribute.column.human_name.titleize %>:
			=h @<%= singular_name %>.<%= attribute.name %>
	
	%div.admin-links.columns.four
		- if action? :edit
			= link_to "Edit", edit_<%= singular_name %>_path(@<%= singular_name %>)
			|
		- if action? :destroy
			= link_to "Delete", @<%= singular_name %>, :confirm => 'Are you sure?', :method => :delete
			|
		- if action? :index
			= link_to "View All", <%= plural_name %>_path

