%section.columns.twelve
	%header.row
		<%% title "New <%= singular_name.titleize %>" %>
	
	= render_form
	
	- if action? :index 
		<%%= link_to "Back to <%= plural_name.titleize %>", <%= items_path %> %>
	
