%section.columns.twelve
	%header.row
		<%% title "<%= singular_name.titleize %>" %>
	
	- for attribute in model_attributes
		%p
			%strong <%= attribute.human_name.titleize %>:
			<%%= @<%= instance_name %>.<%= attribute.name %> %>
	
	%div.admin-links.columns.four
		- if action? :edit
			<%%= link_to "Edit", <%= item_path :action => :edit, :instance_variable => true %> %> |
		- if action? :destroy
			<%%= link_to "Delete", <%= item_path :instance_variable => true %>, :confirm => 'Are you sure?', :method => :delete %> |
		- if action? :index
			<%%= link_to "View All", <%= items_path %> %>

